@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f1f4f9, #dff1ff);
    overflow: hidden;
}

section.active {
    background: linear-gradient(to right, #111111, #161623);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: #ff359b;
}

section.active .color:nth-child(1) {
    background: #ffc107;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #fffd87;
}

section.active .color:nth-child(2) {
    background: #2196f3;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #00d2ff;
}

section.active .color:nth-child(3) {
    background: #31ff38;
}

.box {
    position: relative;
    z-index: 1000;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dycalendar {
    width: 100%;
    padding: 20px;
}

#dycalendar table {
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td {
    background: #fff;
    /* color: #8a2435; */
    color: #111;
    border-radius: 4px;
    font-weight: 600;
}

section.active #dycalendar table tr:nth-child(1) td {
    color: #111;
}

#dycalendar table td {
    /* color: #8a2435; */
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
}

section.active #dycalendar table td {
    color: #fff;
}

#dycalendar table td:hover {
    background: #fff;
    /* color: #8a2435; */
    color: #111;
}

section.active #dycalendar table td:hover {
    color: #111;
}

.dycalendar-month-container .dycalendar-target-date {
    background: #fff !important;
    /* color: #8a2435 !important; */
    color: #111 !important;
}

section.active .dycalendar-month-container .dycalendar-target-date {
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn,
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    background: #fff;
    /* color: #8a2435; */
    color: #111;
    width: 44px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

section.active .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn,
section.active .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    color: #111;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn {
    left: 4px !important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    right: 4px !important;
}

.dycalendar-month-container .dycalendar-span-month-year {
    /* color: #8a2435; */
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

section.active .dycalendar-month-container .dycalendar-span-month-year {
    color: #fff;
}

.dark {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #111;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active .dark {
    background: #fff;
}

.dark::before {
    content: '\f186';
    font-family: fontAwesome;
    color: #fff;
}

.active .dark::before {
    content: '\f185';
    color: #111;
}

@media (max-width: 600px) {
    .container {
        width: 300px;
        min-height: 300px;
    }

    #dycalendar table {
        margin-top: 30px;
    }

    .dycalendar-month-container {
        font-size: 0.7em;
    }

    .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn,
    .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
        width: 34px;
        height: 30px;
        border-radius: 4px;
        font-size: 24px;
    }
}
